*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 1em;
    color: black;
    text-decoration: none;
}

body, html{
    height: 100%;
    width: 100%;

}

body{
    max-width: 1200px;
    margin: auto;
}

header{
    padding: 2em 0 2em 0;
}

picture, img{
    max-width: 100%;
    display: block;
}

.main-container{
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.logo-and-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav {
    display: flex;
    gap: 2em;
}

nav a{
    transition: 150ms color ease-in-out;
}

nav a:hover{
    color: hsl(5, 85%, 63%);
}

.featured-and-new-articles-container{
    display: grid;
    grid-template-areas: "img img new-articles"
                         "featured-title featured-paragraph new-articles";
    gap: 2em;
}

.featured-img{
    grid-area: img;
}

.title-container{
    grid-area: featured-title;
}

.title-container h1{
    font-size: 3em;
    font-weight: 800;
    max-width: 8ch;
}

.text-container{
    display: grid;
    grid-area: featured-paragraph;
    line-height: 1.5em;
}

.text-container p {
    max-width: 36ch;
}

button{
    padding: 0.2em 2.5em 0.2em 2.5em;
    background-color: hsl(5, 85%, 63%);
    border: none;
    letter-spacing: .2em;
    font-size: .9em;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    width: fit-content;
    transition: 150ms background-color ease-in-out;
}

button:hover{
    background-color: hsl(240, 100%, 5%);
}

.new-articles-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5em 1em 1.5em 1em;
    gap: 1em;
    grid-area: new-articles;
    background-color: hsl(240, 100%, 5%);
}

.new-articles-container{
    display: flex;
    flex-direction: column;
}

.new-articles-container h2{
    color: hsl(35, 77%, 62%);
    font-size: 2.5em;
}

.article{
    padding: 1.5em 0 1.5em 0;
}

.article h3{
    font-size: 1.2em;
    color: hsl(0, 0%, 100%);
    margin-bottom: .5em;
    transition: 150ms color ease-in-out;
}

.article h3:hover{
    color: hsl(35, 77%, 62%);
}

.article h4{
    font-size: .9em;
    font-weight: 400;
    line-height: 1.5em;
    color: hsla(0, 0%, 100%, .5);
    max-width: 32ch;   
}

.article-2{
    border-top: 1px solid hsla(0, 0%, 100%, .5);
    border-bottom: 1px solid hsla(0, 0%, 100%, .5);
}

.other-articles-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
}

.other-article{
    display: flex;
    gap: 1em;
}

.other-article-text{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.other-article img {
    height: 115px;
}

.other-article h2{
    font-size: 1.5em;
    color: hsl(233, 8%, 79%)
}

.other-article h3{
    font-size: 1em;
    transition: 150ms color ease-in-out;
}

.other-article h3:hover{
    color: hsl(5, 85%, 63%);

}

.other-article h4{
    font-size: .9em;
    font-weight: 400;
    line-height: 1.5em;
    max-width: 24ch;
}

@media(max-width: 425px){
    .logo-and-nav-container{
        padding: 1em;
    }

    .sidebar-menu-container{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5em;
        padding: 2em;
        inset: 0 0 0 35%;
        background-color: hsl(0, 0%, 100%);
        z-index: 999;
    }

    .sidebar-menu-container img{
        width: 2em;
    }

    .navbar{
        flex-direction: column;
        align-self: flex-start;
        background-color: hsl(0, 0%, 100%); 
    }

    .featured-and-new-articles-container{
        grid-template-areas: "img"
                             "featured-title"
                             "featured-paragraph"
                             "new-articles";
        padding: 1em;
    }

    .other-articles-container{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        padding: 1em;
    }
}

